<% include partials/header%>

<div class="firstnick">
    <p> <h3><%= campground.name%> </h3> </p>
    <img src="<%= campground.image%>" alt="">
    <p> <%= campground.description%></p>

</div>

<% include partials/footer.ejs%>