<% include ../partials/header%>

<div class="firstnick">
    <div class="container">
        <div class="row">
            <h1 class="newH1">Add New Campground</h1>
            <div class="inForm">
                <form action="/campgrounds" method="post">
                    <div class="form-group"><input REQUIRED class="form-control" type="text" placeholder="Name" name ="name"> </div>
                    <div class="form-group"><input class="form-control" type="text" placeholder="Image URL" name="image"> </div>
                    <div class="form-group"><input REQUIRED class="form-control" type="text" placeholder="Desciption" name="description"> </div>
                    <div class="form-group"><button class="btn btn-lg btn-primary btn-block">Submit!</button></div>
                </form>
                <a href="/campgrounds">Campgrounds List</a>
            </div>
        </div>

    </div>

</div>
<% include ../partials/footer%>